@media screen and (max-width: 330px) {
  main,
  .content,
  .subscription,
  .form-item,
  button {
    width: auto;
  }
  
  .free-trial {
    padding: 20px;
  }

  .form-item {
    grid-template-columns: auto 0px;
  }
  
  button {
    width: auto;
  }

  .form-item input {
    max-width: 250px;
  }
}

@media screen and (min-width: 700px) {
  main {
    display: flex;
    width: 700px;
    padding-top: 100px;
  }

  .content {
    text-align: left;
    padding: 0px;
    padding-right: 50px;
    margin-bottom: 0;
  }

  .content h1 {
    font-size: 2.5rem;
  }

  .content p {
    font-size: 0.9rem;
    font-weight: 400;
  }
}

@media screen and (min-width: 800px) {
  main {
    width: 800px;
  }

  .content h1 {
    font-size: 3rem;
  }

  .content,
  .subscription {
    width: 500px;
    height: 500px;
  }

  .form-item {
    grid-template-columns: 315px 0px;
  }

  button {
    width: 315px;
  }
}

@media screen and (min-width: 1000px) {
  main {
    width: 1000px;
  }

  .free-trial {
    padding: 15px;
  }

  .form-item {
    grid-template-columns: 415px 0px;
  }
  
  button {
    width: 415px;
  }
}
