@media screen and (max-width: 374px) {
    main {
        width: auto;
    }
}

@media screen and (max-width: 309px) {
    .content {
        padding: 0px;
    }
}

@media screen and (min-width: 700px) {
    main {
        width: 500px;
    }
    .image {
        background-image: url(../images/hero-desktop.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: 380px 500px;
        height: 380px;
    }
}

@media screen and (min-width: 1000px) {
    body {
        background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    }
    main {
        width: auto;
        display: grid;
        grid-template-areas: 
            "logo image"
            "content image"
            "input image";
        background-image: url(../images/bg-pattern-desktop.svg);
    }

    header {
        margin-left: 0px;
    }

    .image {
        background-image: url(../images/hero-desktop.jpg);
        background-repeat: no-repeat;
        background-size: auto;
        width: 610px;
        height: 800px;
        grid-area: image;
    }

    .content {
        padding: 60px 100px;
        text-align: left;
    }
    
    h1 {
        font-weight: 600;
        font-size: 60px;
        letter-spacing: 20px;
        margin-top: 20px;
    }

    p {
        font-size: 19px;
        line-height: 2;
    }

    .logo {
        width: 158px;
        height: 33px;
        padding: 30px 100px 0;
    }

    #form-email {
        width: 450px;
    }

    input {
        width: 300px;
        transform: translateX(-10px);
    }

    button {
        width: 100px;
        right: -5px;
    }
}

@media screen and (min-width: 1300px) {
    .content, .logo {
        width: auto;
        padding-left: 160px;
        padding-right: 160px;
    }
}

@media screen and (min-width: 1440px) {
    main {
        width: 1440px;
    }
}