@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    /* Primary */
    --desaturated-red: hsl(0, 36%, 70%);
    --softred: hsl(0, 93%, 68%);
    --cor: #fad8d7;

    /* Neutral */
    --dark-grayishred: hsl(0, 6%, 24%);
}

* {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    font-size: 16px;
    margin: 0%;
    text-align: center;
    color: var(--desaturated-red);
}

main {
    margin: auto;
    width: 375px;
}

header {
    text-align: left;
    margin: 35px 0px 35px 30px;
}

.image {
    height: 250px;
    background-image: url(../images/hero-mobile.jpg);
    background-position: center;
}

.logo {
    height: 20px;
}

h1 {
    color: var(--dark-grayishred);
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 0.5rem;
    text-transform: uppercase;

}

span {
    color: var(--desaturated-red);
    font-weight: 300;
}

.content {
    font-size: 15px;
    padding: 30px;
}

#email-input {
    width: 300px;
    height: 45px;
    margin: 40px auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px hsl(0, 80%, 86%) solid;
    border-radius: 31px;


}

input {
    border: 2px hsl(0, 80%, 86%) solid;
    border-right: none;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    height: 45px;
    width: 235px;
    padding: 0 0 0 15px;
    color: var(--softred);
    
    transform: translateX(-2px);
}

#icon-error {
    width: 24px;
    height: 24px;
    visibility: hidden;
}

button {
    width: 65px;
    padding-top: 5px;
    border: none;
    border-radius: 32px;
    height: 50px;
    position: relative;
    right: -2px;
    background-image: linear-gradient(135deg,  hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

button:hover {
    background-color: var(--cor);
    background-image: none;
    box-shadow: 0px 10px 10px 0px hsla(0, 49.8%, 51.6%, 0.45);
    cursor: pointer;
}

#error-message {
    color: var(--softred);
    font-size: 0.65rem;
    text-align: left;
    margin: 5px 30px;
    visibility: hidden;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 50px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}