.newbie {
    border-left: 3px var(--newbie) solid;
}
.junior {
    border-left: 3px var(--junior) solid;
}
.intermediate {
    border-left: 3px var(--intermediate) solid;
}
.advanced {
    border-left: 3px var(--advanced) solid;
}
.guru {
    border-left: 3px var(--guru) solid;
}


.challenge {
  background-color: var(--light-grey);
  margin: 5px 30px;
  border-radius: 20px;

  max-height: 0;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}

.challenge-name {
  background-color: var(--dark-grey);
  color: var(--yellow);
  font-weight: 500;
  text-align: left;
  padding: 10px 30px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto 10px;
}

.arrow::before {
  content: "";
  border-left: 8px solid var(--yellow);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  float: right;
  width: 0;
  height: 0;
  transition: transform 0.5s;
}

.challenge:hover .arrow::before, .challenge:focus-within .arrow::before {
  transform: rotate(90deg);
}

.challenge-name:hover, .challenge-name:focus-within {
  cursor: pointer;
  background-color: #252623d2;
}

.links--animated {
  max-height: 0;
  transition: max-height 0.25s ease-out;
  overflow: hidden;
}

.challenge:hover .links--animated, .challenge:focus-within .links--animated {
  max-height: 500px;
  transition: max-height 0.5s ease-in;
}

.links {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  text-align: center;
}

.link {
  flex-grow: 1;
}

.link a {
  color: var(--dark-grey);
  padding: 10px;
  border: 1px var(--dark-grey) solid;
  border-radius: 5px;
  text-decoration: none;
}

.link a:hover, .link a:focus {
  color: var(--yellow);
  background-color: var(--dark-grey);
}