@keyframes growDown {
    0% {
        transform: scaleY(0);
        height: 0px;
    }
    80% {
        transform: scaleY(1.1);
        height: 80px;
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes diffGrowDown {
    0% {
        transform: scaleY(0);
        height: 0px;
    }
    80% {
        transform: scaleY(1.1);
        height: 40px;
    }
    100% {
        transform: scaleY(1);
    }
}