@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&family=Nunito:wght@300;400;900&display=swap');

:root {
  /* main colors */
  --dark-grey: #252623;
  --grey: #636159;
  --yellow: #decc00;
  --light-grey: #BFB6A8;
  --very-light-grey: #EDEDE6;

  /* difficulties colors */
  --newbie: #5ae2a9;
  --junior: #aad742;
  --intermediate: #fdce81;
  --advanced: #ff9e7a;
  --guru: #eb5252;
}

body {
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  background-color: #fff;
}

main {
  max-width: 600px;
  margin: auto;
}

h1 {
  font-weight: 900;
}

#ph, #ph a {
  text-align: center;
  font-size: 13px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.difficulty-menu {
  max-height: 40px;
  transition: max-height 0.25s ease-out;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: var(--very-light-grey);
}

.difficulty-menu:hover, .difficulty-menu:focus-within {
  max-height: 1000px;
  padding-bottom: 10px;
}

.difficulty-menu:hover .challenge, .difficulty-menu:focus-within .challenge {
  max-height: 1000px;
  transition: max-height 0.25s ease-in;
}

.difficulty-name {
  border-radius: 15px;
  color: var(--yellow);
  background-color: var(--dark-grey);
  text-transform: uppercase;
  text-align: center;
  height: 40px;
}

.difficulty-name > h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  margin: 0;
  padding-top: 5px;

}

.diff-newbie {
  border-left: 6px var(--newbie) solid;
  border-right: 6px var(--newbie) solid;
  border-bottom: 1px var(--newbie) solid;
}

.diff-junior {
  border-left: 6px var(--junior) solid;
  border-right: 6px var(--junior) solid;
  border-bottom: 1px var(--junior) solid;
}

.diff-intermediate {
  border-left: 6px var(--intermediate) solid;
  border-right: 6px var(--intermediate) solid;
  border-bottom: 1px var(--intermediate) solid;
}

.diff-advanced {
  border-left: 6px var(--advanced) solid;
  border-right: 6px var(--advanced) solid;
  border-bottom: 1px var(--advanced) solid;
}

.diff-guru {
  border-left: 6px var(--guru) solid;
  border-right: 6px var(--guru) solid;
  border-bottom: 1px var(--guru) solid;
}