body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 854px;
    /*background-image: url('https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-07-super-trunfo-bg.png');*/
    background-image: url('https://i.imgur.com/yecC9yq.png');
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding-bottom: 20vh;
}

.container {
    text-align: center;
    padding: 20px;
}

#titulo {
  margin-top: 75px;
}

.page-title {
    color: #ffffff;
    margin: 5px 0;
}

#placar {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: auto;
    width: 600px;
    border-radius: 10px;
}

button {
    padding: .8rem 1.5rem;
    margin: 1rem 0;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

h2, p {
    color: white;
}

.opcoes {
    color: white;
}


/* -=- PH -=- */
#cartas {
    text-align: center;
    display: none;
}

#cartaJogador, #cartaMaquina {
    display: inline;
}

.carta-lor {
    width: 200px;
}

#selecAtributo {
    margin: auto;
    padding-top: 0px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.596);
    display: none;
    width: 600px;

}

#btnJogar {
    width: 400px;
}

#btnNovoJogo {
    margin-left: 5px;
}

#resultado {
    margin: auto;
    margin-bottom: 10px;
    color: white;
    font-size: 30px;
    display: none;
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

#result-final {
    font-size: 1.5em;
    font-weight: 600;
}

#logo-lor {
    width: 200px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.page-logo {
    width: 200px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#novo-jogo {
    display: none;
}