body {
    margin: 0px;
}

main {
    padding-top: 171px;
    padding-bottom: 50px;
    font-size: 15px;
    color: white;
    max-width: 921px;
    margin: auto;
    font-family: 'Lexend Deca', sans-serif;
    /* animation: fromTop 1s linear,
        fadeIn 1s linear;*/
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    margin: 35px 0;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 25px;
}

#sedan, #suv, #luxury {
    max-width: 207px;
    height: 400px;
    padding: 50px;
    display: inline-block;
}

#sedan {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#suv {
    background-color: hsl(184, 100%, 22%);
}

#luxury {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


/* buttns */
#sedan .botao {
    color: hsl(31, 77%, 52%);
}

#suv .botao {
    color: hsl(184, 100%, 22%);
}

#luxury .botao {
    color: hsl(179, 100%, 13%);
}

.botao {
    position: relative;
    top: 60px;
    padding: 15px;
    text-align: center;
    border: hsl(0, 0%, 95%) 1px solid;
    border-radius: 50px;
    width: 100px;
    background-color: hsl(0, 0%, 95%);
}

#sedan .botao:hover, #suv .botao:hover, #luxury .botao:hover {
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    cursor: pointer;
    color: rgba(0, 0, 0, 0);
}


/* footer */
.attribution {
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media screen and (max-width: 950px) {
    main {
        padding-top: 88px;
        /* animation: fromLeft 1s linear,
            fadeIn 1s linear; */
    }

    #sedan, #suv, #luxury {
        max-width: 227px;
        height: 342px;
        display: block;
        margin: auto;
        border-radius: 0px;
    }

    #sedan {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    #luxury {
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .botao {
        top: 0px;
    }

}

@keyframes fromTop {
    0% {
        transform: translateY(-150%);
    }
}

@keyframes fromLeft {
    0% {
        transform: translateX(-150%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
}